
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700,900|Open+Sans:200,400,700|Playfair+Display:400i");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");

/* Vendors */
/* Global */
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #f3f3f3;
}

.loader .bmIcon {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/icon/loading.jpg) center no-repeat;
  -webkit-animation: loading 4.44s linear infinite;
  animation: loading 4.44s linear infinite;
}

@-webkit-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  transition: font-size .4s ease-in-out;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.responsive-btn {
  padding: 10px 20px;
  padding: 1rem 2rem;
  font-size: 80%;
  line-height: 1;
}

/* Tools */
/* Components */
.red-btn {
  background: #ed2024 !important;
  margin: auto 5%;
}

.red-btn:hover {
  background: #b3171a !important;
}

.black-btn {
  background: #0d0d0d !important;
  margin: auto 5%;
}

.black-btn:hover {
  background: #040404 !important;
}

/* Pages */
#badass-hero {
  background-image: url(../img/large/hero.png);
  height: 100vh;
  background-size: cover;
  background-position: 12% 0;
  overflow: hidden;
  transition: 300ms ease-in-out;
}

.hero-text {
  width: 50%;
}

#badass-hero h1 {
  color: white;
  font-size: 34px;
  font-size: 3.4rem;
  font-weight: 700;
  font-family: 'Montserrat', serif;
}

#badass-hero h2 {
  color: white;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 200;
  font-family: 'Montserrat', serif;
  font-style: normal;
}

#badass-hero p {
  color: white;
  font-weight: 200;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 34px;
  margin-bottom: 3.4rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

#badass-hero .row {
  height: 100vh;
}

#red-bd,
#black-bd {
  margin: auto;
  padding-top: 40px;
  padding-top: 4rem;
  padding-bottom: 40px;
  padding-bottom: 4rem;
  transition: 0.8s;
  width: 95%;
}

.delorean {
  background: #f3f3f3;
}

#delorean-list .bd-text {
  margin-top: 5%;
  margin-bottom: 5%;
}

#red-downloads,
#black-downloads {
  height: 30vh;
  background: #222429;
}

#red-downloads,
#black-downloads p {
  color: #ed3b3e;
}

.text-container {
  margin-left: 10%;
  margin-right: 10%;
}

.text-container h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 0px;
}

.text-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0px;
}

.text-container h3 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
  font-size: 20px;
  font-size: 2rem;
}

.text-container em {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.stat-title {
  font-size: 15px;
  font-size: 1.5rem;
}

.stat {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
}

.english-kitsunes img,
.spanish-kitsunes img,
.total-kitsunes img,
.last-update img {
  width: 15%;
  margin-bottom: 5%;
}

.english-kitsunes,
.spanish-kitsunes,
.total-kitsunes,
.last-update {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="-77.74000000000001 71.52 7.22 0 0 21.259999999999998 -27.48 7.22 0 0 21.259999999999998 71.52 -91.78 0 0 0 0 0 1 0" /></filter></svg>#filter');
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  transition: -webkit-filter .6s;
  transition: filter .6s;
  transition: filter .6s, -webkit-filter .6s;
}

.english-kitsunes:hover,
.spanish-kitsunes:hover,
.total-kitsunes:hover,
.last-update:hover {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.swiper-container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

#fuelmewith {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 9999;
}

.yummy {
  width: 150px;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
}

.coffee a {
  color: white !important;
}

.icon {
  display: inline-block;
  background: #4b798d;
  width: 60px;
  height: 60px;
  color: white;
  margin-left: -30px;
  margin-right: -35px;
  transition: all 0.5s;
  cursor: pointer;
}

.icon span {
  padding-top: 22px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: all 0.5s;
}

.first,
.last {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.cup {
  position: relative;
  width: 20%;
  top: -42px;
  left: 65px;
  color: white;
  pointer-events: none;
  transition: all 0.5s;
}

.coffee:hover .icon {
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.coffee:hover .icon span {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.coffee:hover .cup {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.coffee:hover .btc {
  background: #FF9900;
}

.coffee:hover .pp {
  background: #009cde;
}

.hide {
  display: none;
}

.coffee-hover .icon {
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.coffee-hover .icon span {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.coffee-hover .cup {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.coffee-hover .btc {
  background: #FF9900;
}

.coffee-hover .pp {
  background: #009cde;
}

.hide {
  display: none;
}

#crypto {
  background: #FFF;
}

#crypto .crypto-name {
  font-weight: 700;
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 5%;
}

#crypto .wallet {
  font-size: 6px;
  font-size: 0.6rem;
  font-weight: 700;
  margin-top: 5%;
}

.popover {
  width: 15%;
}

.popover.bs-tether-element-attached-middle:after,
.popover.bs-tether-element-attached-middle:before {
  display: none;
}

@media screen and (min-width: 480px){
  #badass-hero{
    background-position: 10% 0;
  }
}

@media screen and (min-width: 560px){
  #badass-hero{
    background-position: 5% 0;
  }
}

@media screen and (min-width: 666px){
  #badass-hero{
    background-position: 0% 0;
  }
}

@media screen and (min-width: 768px){
  html{
    font-size: 10px;
  }
  #badass-hero{
    background-position: 30% 0;
  }
}

@media screen and (min-width: 900px){
  html{
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px){
  html{
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px){
  html{
    font-size: 16px;
  }
  .stat-title{
    font-size: 1.3rem;
  }
  .stat{
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1920px){
  html{
    font-size: 20px;
  }
}

@media screen and (min-width: 2560px){
  html{
    font-size: 24px;
  }
}

@media screen and (min-width: 3000px){
  html{
    font-size: 34px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1){
  #badass-hero,
  #badass-hero .row{
    height: 50vh;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1){
  #badass-hero,
  #badass-hero .row{
    height: 50vh;
  }
}

@media only screen and (min-device-width: 600px) and (min-device-height: 900px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1){
  html{
    font-size: 14px;
  }
  #badass-hero{
    background-position: 10% 0;
  }
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1){
  #badass-hero{
    background-position: 20% 0;
  }
}

@media screen and (min-device-aspect-ratio: 21 / 9){
  #badass-hero{
    background-position: 0% 40%;
  }
}
